<h1 style="font-size:330%;font-family:purisa;" align="center">Hello, My name is Kiwi</h1>
<h3 style="font-family:purisa;color:grey" align="center"> white, poor, ugly </h3>
<hr/>



<table>
	<tr/>
		<td>
			<%= image_tag('home_kiwi.jpg') %>
		</td>
		<td>
			<p>
				<h1 style="font-size:300%;color:yellow;font-family:purisa"> WHERE I AM? </h1>
				<br/>

				<h2> 
					<%= image_tag "gmail.ico" %> 
					<em>Email:</em>
					<a href="https://mail.google.com/mail" style="color:green;font-family:purisa">
					kiwi.swhite.coder@gmail.com 
					</a>
				</h2>
				
				<h2> 
					<%= image_tag "weibo.ico" %> 
					<em>Weibo:</em>
					<a href="http://weibo.com/kiwisw" style="color:green;font-family:purisa">weibo.com/kiwisw</a> 
				</h2>

				<h2> 
					<%= image_tag "github.ico" %>
					<em> Github: </em>
					<a href="http://github.com/kiwiwin" style="color:green;font-family:purisa">github.com/kiwiwin</a> 
				</h2>
				<h2> 
					<%= image_tag "topcoder.ico" %> 
					<em> Topcoder: </em> 
					<a href="http://community.topcoder.com/tc?module=MemberProfile&cr=22829380" style="color:green;font-family:purisa">ssswhite</a> 
				</h2>
			</p>
			<br/>
			<p>
				<h3 style="font-family:purisa">
						<%= link_to ">> Enter My Blog", posts_path %>
				</h3>
			</p>
		</td>
	<tr/>
</table>

<hr/>

<h3 style= "font-family:purisa" align="center"> white, poor, ugly </h3>

